.my-alert{
position: fixed;
top: 1%;
z-index: 9999;
right: 1%;
}
.my-alert h2{font-size: 15px;}
.modal-header{background: #324997;padding: 0px;}
.modal-title{color: white;padding: 15px;font-size: 20px;}
 .vehicle .nav-tabs .nav-link.active {
       background-color: #405189 !important;
    color: white !important;
        border: 1px solid #405189;
    }
.vehicle .nav-item{    border: 1px solid;
    background: white;}    

.vehicle .nav-link {
        color: #050505;
border: 1px solid #405189;
border-radius: 0px;
}

.vehicle .nav-link, .vehicle .nav-item:hover {
    border: none !important;
    box-shadow: none !important;
}
