.my-alert{
position: fixed;
top: 1%;
z-index: 9999;
right: 1%;
}
.my-alert h2{font-size: 15px;}
.modal-header{background: #324997;padding: 0px;}
.modal-title{color: white;padding: 15px;font-size: 20px;}
 .vehicle .nav-tabs .nav-link.active {
       background-color: #405189 !important;
    color: white !important;
        border: 1px solid #405189;
    }
.vehicle .nav-item{    border: 1px solid;
    background: white;}    

.vehicle .nav-link {
        color: #050505;
border: 1px solid #405189;
border-radius: 0px;
}

.vehicle .nav-link, .vehicle .nav-item:hover {
    border: none !important;
    box-shadow: none !important;
}
.mobile-wrapper {
    width: 100%;
    max-width: 400px; /* simulate mobile width */
    margin: 0 auto;
    padding-bottom: 20%;
}

.ful li{padding: 0px 20px;}  
    
.activeli{
    color: green ;
}
.bodySection{    margin-bottom: 100px;}
.footerBorder{border-top:1px solid black;
    width: auto;
}
.blink {
    animation: blinker 2s linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

 .active-menu{color:#00ffef!important;} 

 .status-action{
    width: fit-content !important;
 }