<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Redirect /vendor/* to /public/vendor/*
    RewriteCond %{REQUEST_URI} ^/vendor/(.*)$
    RewriteRule ^vendor/(.*)$ public/vendor/$1 [L]
    
       # Redirect /vendor/* to /public/vendor/*
    RewriteCond %{REQUEST_URI} ^/build/(.*)$
    RewriteRule ^vendor/(.*)$ public/build/$1 [L]

    # Allow access to Vite assets like /build/assets/*.js, *.css
    RewriteCond %{REQUEST_URI} !^/build/

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
